@use "sass:color";
@use "lib/colors.scss";

.bar {
  background-color: transparent;
  padding: 1px;

  $panels: "launcher", "workspaces", "sysinfo", "systray", "player", "info",
    "audio", "power";

  @each $panel in $panels {
    .#{$panel} {
      .module {
        border-radius: 7px;

        background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
        background-blend-mode: overlay; // for hover effect
        background-size: 1920px 108px;
        background-repeat: no-repeat;

        margin: 10px 8px;
        padding: 4px 14px;

        box-shadow: 0px 0px 5px colors.$background, 0px 0px 5px colors.$background;

        button {
          padding: 1px 0;
        }
      }

      &:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover {
        .module {
          background-color: color.adjust($color: colors.$background, $alpha: -0.5);

          label {
            color: colors.$accent;
          }
        }
      }

      // TODO shrink animation
      // not possible because animating padding and margin at the same time doesnt work
    }
  }

  .launcher {
    .module {
      background-position: 5%;
    }
  }

  .workspaces {
    // * {
    //   transition: all 250ms ease-in-out;
    // }

    .module {
      background-position: 10%;
    }

    .module>button {
      min-width: 26px;
      border-radius: 20%;
    }

    .module>.active {
      label {
        color: colors.$accent;
      }

      background-color: colors.$background;
      box-shadow: 0px 0px 3px colors.$background;
    }

    .module>.inactive {
      label {
        color: colors.$text;
      }

      background-color: transparent;
      box-shadow: none;
    }

    .module>.inactive:hover {
      label {
        color: color.adjust($color: colors.$accent, $alpha: -0.4);
      }

      background-color: colors.$background;
      box-shadow: 0px 0px 3px colors.$background;
    }
  }

  .sysinfo {
    .module {
      background-position: 25%;
    }
  }

  .systray {
    // * {
    //   transition: all 250ms ease-in-out;
    // }

    .module {
      background-position: 30%;
    }

    button {
      min-width: 26px;
      border-radius: 5px;
    }

    button:hover {
      background-color: colors.$background;
      box-shadow: 0px 0px 3px colors.$background;
    }
  }

  .player {
    .module {
      background-position: center;
    }
  }

  .audio {
    .module {
      background-position: 88%;

      button {
        padding: 0px 6px;
        border-radius: 5px;

        &:hover {
          label:not(.danger) {
            color: colors.$accent;
          }

          background-color: colors.$background;
          box-shadow: 0 0 9px colors.$background;
        }

        // &.active {
        //   background-color: color.adjust($color: colors.$background, $alpha: -0.5);
        //
        //   label {
        //     color: colors.$accent;
        //   }
        // }
        //
        // &.inactive:hover {
        //   background-color: color.adjust($color: colors.$background, $alpha: -0.5);
        //
        //   label {
        //     color: color.adjust($color: colors.$accent, $alpha: -0.4);
        //   }
        // }
      }
    }
  }

  .info {
    .module {
      background-position: 90%;

      // * {
      //   transition: all 250ms ease-in-out;
      // }

      button {
        padding: 0px 6px;
        border-radius: 5px;

        &:hover {
          background-color: colors.$background;
          box-shadow: 0 0 5px colors.$background;

          label {
            color: colors.$accent;
          }
        }

        &.active {
          background-color: colors.$background;
          box-shadow: 0 0 5px colors.$background;

          label {
            color: colors.$accent;
          }
        }

        &.inactive:hover {
          label {
            color: color.adjust($color: colors.$accent, $alpha: -0.4);
          }
        }
      }
    }
  }

  .power {
    &.active {
      .module {
        background-color: color.adjust($color: colors.$background, $alpha: -0.5);

        label {
          color: colors.$accent;
        }
      }
    }

    &.inactive:hover {
      .module {

        background-color: color.adjust($color: colors.$background, $alpha: -0.5);

        label {
          color: colors.$accent;
        }
      }
    }

    .module {
      background-position: 95%;
    }
  }
}

menu {
  background: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
  background-size: 250% 250%;
  background-position: left;

  padding: 10px;
  // margin: 10px;
  border-radius: 7px;

  // box-shadow: 0px 0px 10px colors.$background,
  //   0px 0px 5px colors.$background;

  menuitem {
    // padding: 10px;
    margin: 2px 0px;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      background-color: colors.$background;
      // box-shadow: 0px 0px 10px colors.$background,
      //   0px 0px 5px colors.$background;
    }

    &:hover>label {
      color: colors.$accent;
    }

    label {
      padding: 2px 8px;
    }
  }
}

menubar {
  menuitem {
    background-color: blue;
    padding: 4px;
  }
}
