@use "lib/animations";
@use "lib/colors";

@use "widgets/bar/bar";
@use "widgets/player/player";
@use "widgets/media/media";
@use "widgets/glance/glance";

* {
  all: initial;

  font: {
    family: Liga SFMono Nerd Font, JetBrainsMono NF;
    size: 11px;
    weight: bold;
  }

  // label {
  //   color: colors.$text;
  // }

  // image {
  //   color: colors.$text;
  // }
}

.icon {
  font-family: JetBrainsMono NF;
}
