// @use "animations";
@use "../../lib/colors";

.media {
  // @include animations.flyin("&", "top");

  .layout-box {
    min-width: 325px;

    margin-right: 20px;

    background: url("/home/biskyy/.config/ags/src/assets/ags_photo_fhd.png");
    background-position: center center;
    background-size: 200% 200%;
    background-position: center; // flip it

    border-radius: 5px;
    padding: 15px;

    .media-device {
      margin: 5px 0px;

      .device-button {
        // background-color: rgba(0, 0, 0, 0.3);
        // border-radius: 5px;
        // &:hover {
        //   background-color: rgba(0, 0, 0, 0.5);
        // }
        *:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }

        .device-name {
          // @include animations.fade("&:hover", colors.$primary, colors.$accent);
          // @include animations.fade("&:active", colors.$accent, colors.$primary);

          // background-color: rgba(0, 0, 0, 0.3);
          // &:hover {
          //   background-color: rgba(0, 0, 0, 0.5);
          // }
          padding: 2px 10px;
          border-radius: 5px;
        }

        .icon-button {
          padding: 2px 0px;
          border-radius: 5px;
        }
      }

      contents {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        // margin-top: 10px;

        slider {
          background-color: colors.$secondary;
          border-radius: 5px;
          min-height: 10px;
        }

        highlight {
          background-color: colors.$secondary;
          border-radius: 5px;
        }
      }
    }
  }
}
