@use "sass:color";
@use "sass:string";
@use "lib/animations.scss";
@use "lib/colors.scss";

.glance>.content {
  min-width: 500px;
  min-height: 50px;
  padding-top: 55px;
  // background-color: blue;

  .pages {
    // background-color: green;
    // padding-bottom: 100px;
    // margin: 20px 0px;
    // min-height: 225px;

    .page {
      // background-color: magenta;
      background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
      background-size: 200% 200%;
      min-width: 400px;

      border-radius: 10px;
      padding: 20px;
      margin-left: 20px;
      margin-bottom: 20px
    }
  }

  .column {
    // background-color: red;
    background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
    background-size: 300% 300%;
    background-position: 25% 25%;

    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;

    button {
      // background-color: magenta;

      padding: 10px;
      border-radius: 7px;

      &:hover {
        background-color: color.adjust($color: colors.$background, $alpha: -0.5);
        box-shadow: 0 0 5px colors.$background;
        // background-color: colors.$background;
      }

      &.active {
        background-color: color.adjust($color: colors.$background, $alpha: -0.25);
        box-shadow: 0 0 5px colors.$background;

        label {
          color: colors.$accent;
        }
      }

      &.inactive:hover {
        background-color: color.adjust($color: colors.$background, $alpha: -0.25);

        label {
          color: color.adjust($color: colors.$accent, $alpha: -0.4);
        }
      }

      label {
        // background-color: black;

        font-size: 1.75rem;
        min-width: 2.25rem;
        min-height: 2.25rem;
      }
    }
  }
}

.page.battery {
  // background-color: green;
  // $id: string.unique-id();
  //
  // @include animations.fade($id);
  //
  // & {
  //   animation: fade-#{$id} 100ms;
  // }

  .power-modes {
    .segmented-slider {
      min-height: 20px;
      border-radius: 7px;
      background-color: color.adjust($color: colors.$background, $alpha: -0.5);

      button {
        border-radius: 7px;

        &.active {
          background-color: color.adjust($color: colors.$background, $alpha: -0.5);

          label {
            color: colors.$accent;
          }
        }

        &:not(.active):hover {
          background-color: color.adjust($color: colors.$background, $alpha: -0.5);

          label {
            color: color.adjust($color: colors.$accent, $alpha: -0.4);
          }
        }
      }

    }
  }


  .brightness {
    contents {
      background-color: color.adjust($color: color.mix(colors.$accent,
            colors.$background),
          $alpha: -0.5);
      border-radius: 5px;

      // slider {
      // background-color: colors.$secondary;
      // border-radius: 5px;
      // }

      highlight {
        min-height: 9px;
        background-color: colors.$accent;
        border-radius: 5px;
        min-width: 10px;
      }
    }
  }
}

.page.time {

  // grid {
  //   background-color: blue;
  //   padding: 10px;
  // }
  .clock {
    font-size: 3rem;
  }

  .date {
    font-size: 1.25rem;
  }

  calendar {
    color: colors.$text;

    &:selected {
      color: colors.$accent;
      font-weight: bolder;
    }

    &:indeterminate {
      color: #888888;
    }
  }
}
